body {
    background-image: url(/imageedit_1_7752557961.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.kupa img {
    width: 150px;
    height: 150px;
    border-radius: 15px;
}

.kupalar {
    display: flex;
    width: 100%;
}

.kupa {
    width: 30%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 5px grey;
}

@media(max-width:768px) {
    .kupalar {
        flex-direction: column;
        align-items: center;
    }
    .kupa {
        width: 50%;
    }
    .kupa:hover {
        transform: scale(1.03);
        transition: 0.5s;
    }
}