.td img {
    width: 150px;
    height: 150px;
    border-radius: 6px;
}

.teknikekip {
    margin: 20px;
    display: flex;
}

.td {
    width: 25%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 3px gray;
    margin: 0 5px;
}

@media(max-width:768px) {
    .teknikekip {
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .td {
        box-shadow: 0px 0px 0px white;
        width: 35%;
        margin: 5px 0px;
    }
    .td:hover {
        transform: scale(1.03);
        transition: 0.4s;
        z-index: 1;
    }
}