.yorumlar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avatar img {
    width: 75px;
    height: 75px;
}

.avatar {
    margin: 45px;
    text-align: center;
}

.user {
    display: flex;
    align-items: center;
    width: 50%;
    border: 1px solid gray;
    margin: 10px 0px;
}

@media(max-width:768px) {
    .user {
        flex-direction: column;
        width: 90%;
    }
}